extends layout

block content
  h1= title
  p Welcome to #[em ArtemisTracker], a site to keep track of everything a job hunter needs.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The tracker has the following record counts:

    ul
      li #[strong Jobs:] !{data.job_count}
      li #[strong JobCopies:] !{data.job_instance_count}
      li #[strong JobInstances available:] !{data.job_instance_available_count}
      li #[strong Users:] !{data.user_count}
      li #[strong Categories:] !{data.category_count}